@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-body;
  -webkit-tap-highlight-color: transparent;
}
button:focus {
  @apply outline-none;
}
.theme-black {
  --bg-background-pri: #000a12;
  --bg-background-sec: #263238;
  --bg-background-ter: #263238;
  --bg-card: #fb6084;
  --bg-card-light: #013158;
  --txt-pri: white;
  --txt-sec: rgb(240, 240, 240);
}

.theme-light {
  --bg-background-pri: #fafafa;
  --bg-background-sec: #d6d6d6;
  --bg-background-ter: #c0c0c0;

  --bg-card-light: #ffffff;
  /* --bg-card: #50b9ff; */
  --bg-card: #000a12;
  --txt-pri: black;
  --txt-sec: rgb(27, 27, 27);
}
.bg-circle {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.897) 0%,
    transparent 80%
  );
}
@media only screen and (min-width: 1024px) {
  .height {
    height: 85vh;
  }
}
@media only screen and (min-width: 1800px) {
  .height {
    height: 75vh;
  }
}
.name {
  color: #ff4081;
}
.illustration {
  width: 25%;
  align-self: flex-start;
}
.btncol {
  background-color: #5400ff;
}
.btncol:hover {
  background-color: #4301c7;
}
/* button styles for content on work pages */
.btn {
  @apply text-white px-8 bg-gray-800 py-2 shadow rounded-full;
}
.btn:focus {
  @apply shadow-outline;
  @apply outline-none;
}
.btn:hover {
  @apply shadow-outline;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.tooltip .tooltip-text {
  top: 2rem;
  @apply invisible px-4 absolute z-50 inline-block mr-4 right-0 text-xs rounded-lg bg-gray-700 text-white;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

.content-wrapper {
  transition: background-color 0.25s;
}
ol {
  margin-left: 1rem;
}
