@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-body;
  -webkit-tap-highlight-color: transparent;
}
button:focus {
  @apply outline-none;
}
html{
  scroll-behavior: smooth;
}
.theme-black {
  --bg-background-pri: #000a12;
  --bg-background-sec: #001220;
  --bg-background-ter: #001b2f;
  --bg-card: #013158;
  --bg-card-light: #013158;
  --txt-pri: white;
  --txt-sec: rgb(207, 207, 207);
  --bg-themecol: #ff4081;
}

.theme-light {
  --bg-background-pri: #faf2ff;
  --bg-background-sec: #fffcff;
  --bg-background-ter: #ffffff;

  --bg-card-light: #ffffff;
  --bg-card: #ffffff;
  --txt-pri: black;
  --txt-sec: rgb(27, 27, 27);
  --bg-themecol: #4301c7;
}
.cardEffLight {
  box-shadow: 6px 6px 12px #e6dddf, -6px -6px 12px #ffffff;
}

.cardEffDark {
  box-shadow: 6px 6px 12px #000407, -6px -6px 12px #00101d;
}

.name {
  color: #ff4081;
}
.illustration {
  width: 25%;
  align-self: flex-start;
}

#btncol {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#btncol a {
  position: relative;
  transition: all .45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#btncol:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #5400ff;
  transform: rotate(80deg);
}

#btncol:hover a {
  color: #ffffff;
}
.btncol{
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #5400ff;
  border-radius: 25px;
  margin: 20px 20px 20px 20px;
  /* color: #5400ff; */
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btncol a{
  /* color: #000407; */
  text-decoration: none;
  letter-spacing: 1px;
}
 .btncolor {
  background-color: #5400ff;
}
.btncolor:hover {
  background-color: #4301c7;
} 
/* button styles for content on work pages */
/* .btn {
  @apply text-white px-8 bg-gray-800 py-2 shadow rounded-full;
} */
/* .btn:focus {
  @apply shadow-outline;
  @apply outline-none;
} */
/* .btn:hover {
  @apply shadow-outline;
} */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.scroll-down {
  border: 2px solid #ff4081;
  border-radius: 20px;
  bottom: 10px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
}
.scroll-down::before {
  animation: scrollDownAnimation 2s infinite;
  background-color: #ff4081;
  border-radius: 100%;
  content: '';
  height: 6px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 6px;
}
@-moz-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}


.content-wrapper {
  transition: background-color 0.25s;
}
ol {
  margin-left: 1rem;
}
